@import "../../app.scss";

.services {
  background: linear-gradient(180deg, #ffffff, #0c0c1d);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include tablet {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;

      @include tablet {
        font-size: 20px;
      }

      @include mobile {
        font-size: 12px;
      }
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

      @include tablet {
        width: 400px;
      }

      @include mobile {
        width: 200px;
      }
    }
  }

  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include tablet {
        flex-direction: column;
        text-align: center;
        gap: 40px;
      }

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;

        @include tablet {
          width: 250px;
          height: 70px;
        }

        @include mobile {
          width: 200px;
          height: 50px;
        }
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include tablet {
          font-size: 88px;
        }

        @include mobile {
          font-size: 36px;
        }
      }

      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background-color: #24417b;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #f8e490;

        @include tablet {
          font-size: 20px;
          width: 250px;
          height: 70px;
          margin-bottom: 30px;
        }

        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 50px;
        }
      }
    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }

    .box {
      padding: 50px;
      width: 100%;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @include tablet {
        border: 0.5px solid gray;
        align-items: center;
        gap: 20px;
      }

      @include mobile {
        border: none;
        align-items: center;
        gap: 20px;
        padding: 10px;
      }

      h2 {
        font-size: 20px;
        text-align: center;
      }

      p {
        text-align: center;

        @include tablet {
          font-size: 15px;
          text-align: center;
        }

        @include mobile {
          display: none;
        }
      }

      .buttonContainer {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;

        .line {
          position: absolute;
          background: #a1a1a1;
          width: 125px;
          height: 3px;
          margin-top: 25px;
        }

        button {
          position: relative;
          padding: 20px;
          padding-top: 17px;
          background-color: #212b42;
          color: #f2c753;
          border: 0.5px solid #7e7c7c;
          cursor: pointer;
          z-index: 1;
          border-radius: 10px;
          font-weight: 500;
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
}
