@import "../../app.scss";

.footer {
  width: 100%;
  height: 200px;
  padding: 0 20px 40px 20px;
  color: #231568;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  bottom: 0;

  @include mobile {
    display: none;
  }

  .social {
    display: flex;
    gap: 20px;

    img {
      width: 18px;
      height: 18px;
    }
  }
}
